

.Fourth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 24px;
    padding-block: 20px;
    gap: 13.48px;
    margin-bottom: 74px;
}
.Fourth h3{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #111111;
}
.fourthcard {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 337.3px;
    margin-block: 20px;
    background: #FFFFFF;
    box-shadow: 2.31411px 2.31411px 23.1411px rgba(0, 0, 0, 0.12);
    border-radius: 9.25643px;
}
.cardholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;

    gap: 30px;
}
.newimg {
    width: 326px;
    height: 161.99px;
}
.newimg img {
    width: 100%;
}
.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18.5129px 0px;
    gap: 5.14px;
    width: 277.69px;
    height: 175.31px;
}
.channel {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-block: 0;
}
.bulletin {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}
.datelink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.date {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    margin: 0;
    height: 23px;
}
.visit p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}
.visitlink {
    width: 18.51px;
    height: 18.51px;
    margin: 0;
}
.visitlink img {
    width: 100%;
    height: 100%;
}
.seemore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: 1px solid grey;
    width: 326px;
    height: 53px;
    border-radius: 5px;
}
.seemore button {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 88px;

width: 100%;
height: 100%;

border-radius: 4px;
}


@media only screen and (width > 760px) {

    .cardholder {
        overflow: hidden;
        flex-direction: row;
    }
    .see {
        overflow: scroll;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;

    }
}

