.hero {
    height: calc(100vh + 60px);
    background-position: left;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../asset/hero/hero.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-inline: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
a {
    text-decoration: none;
}
/* font-family: 'Jost', sans-serif;
font-family: 'Public Sans', sans-serif; */
.mobile-hero {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 23px; */
    color: #FCFCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mobile-hero h1 {
    font-family: 'Public Sans', sans-serif;
    padding: 0;

    /* font-size: 1.5rem; */
    font-size: clamp(1.5rem, 1.2182692307692309rem + 1.2019230769230764vw, 2.3rem);
}
.mobile-hero p {
    font-family: 'Jost', sans-serif;
    text-align: left;
}
.web-hero {

}
.mo-head,
.mo-par {
    width: 324px;
    font-style: normal;
    text-align: center;
}
.mo-head {
    height: 108px;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}
.mo-par {
    height: 115px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.head-web {
    width: 629px;
    height: 108px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    text-transform: capitalize;
}
.par-web {
    width: 612px;
    height: 46px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.signlearn {
    width: 324px;
}
.signlearn a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign,
.learn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 12px;
    height: 42px;
}
.sign {
    background: #E5B805;
    border-radius: 2px;
    padding-inline: 0;
}
.sign a {
    color: #000;
}
.learn {
    gap: 10px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
.learn a {
    color: #fff;
}


@media only screen and (width > 700px){
    .hero {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65)), url('../asset/hero/hero.jpeg');
    }
    
    .mobile-hero {
        align-items: flex-start;
        padding-left: 40px;
    }

    .mobile-hero h1 {
        text-align: left;
        width: 50%;
    }

    .mobile-hero p {
        text-align: left;
        width: 50%;
    }

    .signlearn {
        width: 324px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .sign,
    .learn {
        width: 30%;
    }
 
}

/* align-items: flex-start; */